.wrapper {
  padding: 1rem;
}

.wrapper > * + * {
  margin-top: 1rem;
}

.message {
  color: #6e45e2;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 800;
}

.oAuthButton {
  margin: 0.5rem 0.25rem;
  border-radius: 0.75rem;
  border: 2px solid #50aaf2;
  background: rgba(25, 25, 77);
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: normal;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .message {
    font-size: 1rem;
  }
}
