.container {
  min-height: 100vh;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.header {
  background: #6e45e2;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 800;
  padding: 0.5rem 1rem;
  width: 100%;
}

.wrapper {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.wrapper > * + * {
  margin-top: 1rem;
}

.margin {
  margin: 4rem 0;
}

.margin > * + * {
  margin-top: 1rem;
}

.heading {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 900;
}

.message {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 400;
}

.button {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #50aaf2;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: rgba(80, 170, 242, 0.8);
}

@media screen and (min-width: 768px) {
  .header {
    border-radius: 0.25rem;
  }
  .margin {
    margin: 6rem 0;
  }
}
