.bg {
  background-color: #19194d;
}

.container {
  position: relative;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 2rem;
  min-height: 50vh;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.ImageWrapper {
  position: relative;
  width: 50vw;
  height: 100%;
}

.contentWrapper {
  padding-top: 4rem;
  max-width: 40rem;
  width: 50vw;
}

.heading {
  color: #50aaf2;
  text-align: right;
  font-family: DG Bebo;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 4rem;
}

.paragraph {
  color: #fff;
  text-align: right;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  text-transform: lowercase;
}

.circle {
  position: absolute;
  bottom: 0;
  right: 0;
  translate: 50% 50%;
  width: 15rem;
  z-index: 0;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
}

.button {
  border-radius: 0.75rem;
  background: url("/rectangle-full.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }
  .wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .ImageWrapper {
    width: 100%;
  }
  .contentWrapper {
    width: auto;
    padding-top: 2.5rem;
  }

  .heading {
    font-size: 2rem;
    line-height: 3rem;
  }

  .paragraph {
    font-size: 1rem;
  }
  .circle {
    display: none;
  }
}
