.form {
  padding: 1rem 0;
}

.wrapper {
  width: 100%;
  text-align: right;
  padding: 0.25rem;
}

.wrapper > * + * {
  margin-top: 0.5rem;
}

.label {
  color: #6e45e2;
  text-align: right;
  font-size: 1rem;
  font-weight: 800;
}

.input {
  background: #fff;
  border: 2px solid #6e45e2;
  border-radius: 0.25rem;
  color: #454545;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: right;
}

.flex {
  display: flex;
  gap: 0.5rem;
  color: black;
}

.width {
  width: 30%;
}

.button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #50aaf2;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  border: none;
  border-radius: 0.575rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: rgba(80, 170, 242, 0.5);
}

@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
    gap: 0.25rem;
  }
  .width {
    width: 100%;
  }
}
