.wrapper {
  padding: 1rem;
}

.message {
  color: #6e45e2;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .message {
    font-size: 1.25rem;
  }
}
