.bg {
  background-color: #6e45e2;
}
.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.logoContainer {
  position: relative;
  width: 200px;
  height: 80px;
}

.icons > * + * {
  margin-left: 1rem;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .icon {
    width: 2rem;
    height: 2rem;
  }
  .logoContainer {
    width: 150px;
    height: 80px;
  }
}
